<app-header (selectedFeatureEvent)="onFeatureSelected($event)">
  <nav class="navbar">
    <div class="brand">WeLearn CMS</div>
    <ul class="nav-links">
      <li><a href="#">Documents</a></li>
      <li><a href="#">Messages</a></li>
      <li><a href="#">Contacts</a></li>
    </ul>
    <div class="user-dropdown">
      <button class="dropdown-button" (click)="toggleDropdown()">User ▼</button>
      <div class="dropdown-content" *ngIf="dropdownOpen">
        <a href="#">Profile</a>
        <a href="#">Settings</a>
        <a href="#">Logout</a>
      </div>
    </div>
  </nav>
</app-header>

<div class="container pull-left">
  <ng-container *ngIf="selectedFeature === 'documents'">
      <cms-documents></cms-documents>
  </ng-container>
  <ng-container *ngIf="selectedFeature === 'messages'">
      <cms-message-list></cms-message-list>
  </ng-container>
  <ng-container *ngIf="selectedFeature === 'contacts'">
      <cms-contacts></cms-contacts>
  </ng-container>
</div>





<router-outlet />